data:
  machineType:
    {{- if eq .chezmoi.os "darwin" }}
    "mac"
    {{- else }}
    "linux"
    {{- end }}
  theme:
    {{- if stat ~/.cache/arch-config/theme.cache }}
    {{- readFile ~/.cache/arch-config/theme.cache }}
    {{- else }}
    mocha
    {{- end }}