{{- if eq .chezmoi.os "darwin" }}
.config/niri/
.config/fcitx5/
.config/waybar/
.config/rofi-wayland/
.config/swaync/
.config/yazi/
.config/zellij/
.config/lazyvim/
.config/clash-verge-rev/
.config/swaylock/
.config/wlogout/
encrypted/clash-verge-rev-profiles.yaml.age
{{- end }}

{{- if eq .chezmoi.os "linux" }}
# Mac-specific files (none yet, but placeholder for future)
{{- end }}